<div class="d-flex flex-wrap py-0 justify-content-center text-white">
    {{#each cardsBasket}}

        <div class="card m-2 bg-transparent border rounded border-secondary" style="width: 18rem;">
            <img class="card-img-top" src="{{this.card_url}}" alt="{{this.card_name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.card_name}}</h5>
                <p class="card-text">Цена: {{this.card_price}}</p>
                <p class="card-text">Состояние: {{this.condition}}</p>
                    <a href="#" class="btn btn-dark">Купить</a>
            </div>
        </div>

    {{/each}}
</div>
<div class="container text-center"><button type="button" id="clearBasket" class="btn btn-dark">Очистить корзину</button></div>

<script defer src="/js/basket.js"></script>
