<div id="cards" class="container d-flex flex-wrap py-5 justify-content-center text-white">

        {{#each allCards}}

    <div class="card m-2 bg-transparent border rounded border-secondary" style="width: 18rem;">
        <img class="card-img-top" src="{{this.card_url}}" alt="{{this.card_name}}">
        <div class="card-body">
            <h5 class="card-title">{{this.card_name}}</h5>
            <p class="card-text">Цена: {{this.card_price}}</p>
            <p class="card-text">Состояние: {{this.condition}}</p>

            {{#ifCond this.id_user user.id}}
                <a href="#" class="btn btn-dark">Редактировать</a>
            {{else}}
                <a href="#" class="btn btn-dark">Купить</a>
            {{/ifCond}}
        </div>
    </div>

        {{/each}}

</div>
