<div class="container flex-column d-flex flex-wrap py-5 justify-content-center text-white">
<div class="d-flex flex-column">
    <h3>Имя пользователя: <span class="badge badge-secondary">{{userInfo.user_name}}</span></h3>
    <h3>E-mail: <span class="badge badge-secondary">{{userInfo.user_email}}</span></h3>
    <h3>Город: <span class="badge badge-secondary">{{userInfo.city}}</span></h3>
    <h3>Дата регистрации: <span class="badge badge-secondary">{{5}}</span></h3>
    <br>
    <h2 class="text-center"><span class="badge badge-secondary">Мои карточки:</span></h2><br>
</div>
<div class="d-flex flex-wrap py-0 justify-content-center text-white">
    {{#each myCards}}

        <div class="card m-2 bg-transparent border rounded border-secondary" style="width: 18rem;">
            <img class="card-img-top" src="{{this.card_url}}" alt="{{this.card_name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.card_name}}</h5>
                <p class="card-text">Цена: {{this.card_price}}</p>
                <p class="card-text">Состояние: {{this.condition}}</p>
                    <a href="#" class="btn btn-dark">Редактировать</a>
                    <a href="#" class="btn btn-dark">Удалить</a>
            </div>
        </div>

    {{/each}}
</div>

</div>
