<div class="container flex-column d-flex flex-wrap py-5 justify-content-center text-white">
<div class="d-flex flex-column">
    <h3>Имя пользователя: <span class="badge badge-secondary">{{userInfo.user_name}}</span></h3>
    <h3>E-mail: <span class="badge badge-secondary">{{userInfo.user_email}}</span></h3>
    <h3>Город: <span class="badge badge-secondary">{{userInfo.city}}</span></h3>
    <h3>Дата регистрации: <span class="badge badge-secondary">{{5}}</span></h3>
    <br>
    <h2 class="text-center"><span class="badge badge-secondary">Мои карточки:</span></h2><br>
</div>
<div id ="cards" class="d-flex flex-wrap py-0 justify-content-center text-white">
    {{#each myCards}}

        <div class="card m-2 bg-transparent border rounded border-secondary" style="width: 18rem;">
            <img class="card-img-top" src="{{this.card_url}}" alt="{{this.card_name}}">
            <div class="card-body">
                <h5 class="card-title">{{this.card_name}}</h5>
                <p class="card-text">Цена: {{this.card_price}}</p>
                <p class="card-text">Состояние: {{this.condition}}</p>
                <button type="button" data-toggle="modal" data-id="{{this.id}}" data-target="#exampleModal" data-whatever="@mdo" class="btn btn-dark btn-edit">Редактировать</button>
                    <a href="#" class="btn btn-dark">Удалить</a>
            </div>
        </div>

    {{/each}}
</div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Редактирование карточки:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">

                    <div class="form-group">
                        <label for="card_name" class="col-form-label">Название:</label>
                        <input type="text" class="form-control" name="card_name" id = "card_name">
                    </div>

                    <div class="form-group">
                        <label for="card_price" class="col-form-label">Цена:</label>
                        <input type="number" class="form-control" name="card_price" id="card_price">
                    </div>

                    <div class="form-group">
                        <label for="id_condition">Состояние:</label>
                        <select class="form-control" id="id_condition" name="id_condition">
                            <option value="1">Отличное</option>
                            <option value="2">Среднее</option>
                            <option value="3">Плохое</option>
                        </select>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" id="submitBtn" class="btn btn-primary">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<script defer src="/js/cards.js"></script>
